
.img-circular{
    width: 160px;
    height: 160px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
    margin: 10px;
   }
.text-volunteer {
    margin-left: 20px;
    margin-top: 20px;
}

@media (max-width: 1199px) {
    .text-volunteer {
        margin-left: 55px;
    }
}
@media (max-width: 991px) {
    .text-volunteer {
        margin-left: 95px;
    }
}

@media (max-width: 575px) {
    .col-md-2 {
        padding: 0;
    }

    .text-volunteer {
        margin: 0;
        padding: 0;
    }
    .date {
        font-size: 18px;
        margin: 10px 0;
    }
    
}
