<sn-scroll-spy-section id="about" for="foo" class="offset">
  <div class="container">
    <div class="row">
        <div class="col">
          <h1 class="text-center main-title">About</h1>
        </div>
    </div>
    <div class="row">
      <div class="col">
          <mat-tab-group>
              <mat-tab label="Education" class="tab">
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../../assets/simon.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Computer Engineering</h5>
                                <h5 class="card-title">University Simon Bolivar</h5>
                                <h5 class="card-title">2013-2017</h5>

                                <p class="card-text">Best University of Engineering in Venezuela and my second home.</p>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="../../assets/course.jpg" alt="Card image cap">
                              <div class="card-body">
                                    <h5 class="card-title">Web Development Courses</h5>
                                    <h5 class="card-title">+450 hours</h5>
                                    <p class="card-text">Completion of more than 45 Web Development courses.</p>

                              </div>
                            </div>
                          </div>

                  
    



                  
              </mat-tab>
              <mat-tab label="Skills" class="tab"> <app-skills></app-skills> </mat-tab>
              <mat-tab label="Volunteer" class="tab"> <app-volunteer></app-volunteer> </mat-tab>
          </mat-tab-group>
      </div>

    </div>
  </div>
</sn-scroll-spy-section>
