<sn-scroll-spy-section id="about" for="foo" class="offset">
  <div class="container">
    <div class="row">
        <div class="col">
          <h1 class="text-center main-title">About</h1>
        </div>
    </div>
    <div class="row">
      <div class="col">
          <mat-tab-group>
              <mat-tab label="Education" class="tab">
                  <div class="jumbotron" id="jumbo-education">
                      <h1 class="display-4 text-education title">Computer Engineering</h1>
                      <div class="container-img">
                          <img src="../assets/usb.png" alt="University logo" class="img-fluid img-edit">
                      </div>
                      <p class="lead text-education">Universidad Simon Bolivar</p>
                      <p class="text-education date">2013-2017</p>
                      <p class="text-education text">Best University of Engineering in Venezuela and my second home.</p>
                      <hr class="my-4">
                      <p class="text-education date">Completion of more than 30 Web Development courses. (300 hours)</p>



                  </div>
              </mat-tab>
              <mat-tab label="Skills" class="tab"> <app-skills></app-skills> </mat-tab>
              <mat-tab label="Volunteer" class="tab"> <app-volunteer></app-volunteer> </mat-tab>
          </mat-tab-group>
      </div>

    </div>
  </div>
</sn-scroll-spy-section>
