#education {
    background-color: #f7f7f7;
    height: 100%;
}

.text-education {
    color: black;
}

.date {
    font-size: 30px;
}


.text {
    font-size: 25px;
}

.container-img {
    max-width: 200px;
    max-height: 200px;
}


#about {
    background: #f8f9fa;
}

.jumbotron {
    background-image: url("../../assets/header-bg.jpg");
    background-size: cover;
    height: 700px;
    color: white;
    border-radius: 0 !important;
}

#jumbo-education {
    background-image: url("../../assets/simon.jpg");
}



@media (max-width: 767px) {
    .title {
        font-size: 35px;
        color: white;
    }

    .date, .text {
        color: white;
    }

}