.flex-container {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
    align-items: center;
  }

.flex-container  div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }



.work-row {
    margin-bottom: 50px;
}

.title-work{
    vertical-align: bottom;
}

.img-circular{
    width: 160px;
    height: 160px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
   }
.subtitle {
    font-size: 18px;
}
.date {
    font-size: 18px;
    font-weight: bold;
}

.line {
    border-left: 3px solid lightgray;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 100%;
}

@media (max-width: 1199px) {
    .line {
        left: 60%;
        
    }
}
@media (max-width: 991px) {
    .img-circular{
        width: 110px;
        height: 110px;
        

       }
    .line {
        height: 166px;
        left: 59%;
        top: 51%;
    }
    #be_part {
        margin-top: 24px !important;
        font-size: 16px !important;
    }
}

@media (max-width: 767px) {
    #last-circle {
        margin-left: 15px;
    }
    .line {
        height: 102px;
        left: 227%;
        top: 99%;
    }
}

.row-sm {
    margin-bottom: 50px;
}


.row-about {
    margin-bottom: 60px;
}
.title {
    margin-top: 20px;
}

.text-left {
    text-align:right !important;
}

.text-right {
    text-align: left !important;
}

#last-circle {
    background: #fed134;
    display: flex;
    align-content: center;
    justify-content: center;
    
}
#be_part {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}