<section id="about">
  <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center main-title">About</h1>
        </div>
      </div>
      
      
          <div class="row row-about" *ngFor="let work of works; let idx = index">
      
              <div class="col-md-5" *ngIf="idx % 2 == 0">
                <div>
                    <h5 class="date text-left">{{work.date}}</h5>
                    <h3 class="title text-left">{{work.title}}</h3>
                    <h4 class="subtitle text-left">{{work.enterprise}}</h4>
                    
                </div>
              </div>
              <div class="offset-md-5" *ngIf="(idx + 1) % 2 == 0"></div>
              <div class="col-md-2" id="box-circle">
                  <img class="img-circular" src="{{work.image}}">
                  <div class="line" *ngIf="idx < works.length -1"></div>
              </div>
              
              <div class="col-md-5" *ngIf="(idx + 1) % 2 == 0">
                <div>
                    <h5 class=" date text-right">{{work.date}}</h5>
                    <h3 class=" title text-right">{{work.title}}</h3>
                    <h4 class=" subtitle text-right">{{work.enterprise}}</h4>
                    
                </div>
              </div>
          </div>
    </div>
</section>