.flex-container {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
    align-items: center;
  }

.flex-container  div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

#circulito {
    position:relative;
    width:100%;
    border-radius:50%;
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
}

.work-row {
    margin-bottom: 50px;
}

.title-work{
    vertical-align: bottom;
}

.img-circular{
    width: 160px;
    height: 160px;
    background-image: url('../../assets/usb.png');
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
   }
.row-about {
    margin-bottom: 70px;
}

.line {
    border-left: 3px solid lightgray;
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 100%;
}

