<section id="portfolio">
  <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center main-title">About</h1>
        </div>
      </div>

      <div class="row work-row" *ngFor="let work of works">
        <div class="col-md-6 text-center" >
          <img src="{{work.image}}" id="circulito">
        </div>
        <div class="col-md-6 text-center">
          <h3 class="title-work">Responsive Design</h3>
          <p>All the applications created by me will give you the security that is displayed on any device.</p>
  
        </div>
      </div>
    </div>
</section>