<sn-scroll-spy-section id="contact" for="foo">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center main-title">Contact</h1>
      </div>
  </div>
    <div class="row row-contact">
      <div class="col">  
      <div class="jumbotron" id="jumbotron-contact">
        <h1 class="text-center main-title">Say Hello!</h1>
        <form id="form-contact" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="container">
              <div class="row">
                <div class="col d-none d-sm-block">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input required type="text" class="form-control" id="name" placeholder="Your name" [(ngModel)]="contact.name" name="name" #name="ngModel" [ngClass]="{'is-invalid': !name.valid && name.touched, 'is-valid':name.valid && name.touched }">
                    </div>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input required type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Your best email" name="email" [(ngModel)]="contact.email" #email="ngModel" [ngClass]="{'is-invalid': !email.valid && email.touched, 'is-valid':email.valid && email.touched}">
                      <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
                    </div>
                </div>
                <div class="col-12 d-block d-sm-none">
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input required type="text" class="form-control" id="name" placeholder="Your name" [(ngModel)]="contact.name" name="name" #name="ngModel" [ngClass]="{'is-invalid': !name.valid && name.touched, 'is-valid':name.valid && name.touched}">
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input required type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Your best email" [(ngModel)]="contact.email" #email="ngModel" [ngClass]="{'is-invalid': !email.valid && email.touched, 'is-valid':email.valid && email.touched}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
                  </div>
              </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Your message</label>
                        <textarea required class="form-control" id="exampleFormControlTextarea1"  placeholder="How can I help you?" rows="5" name="message" [(ngModel)]="contact.message" #message="ngModel" [ngClass]="{'is-invalid': !message.valid && message.touched, 'is-valid':message.valid && message.touched}"></textarea>
                      </div>
                </div>
              </div>
              <p class="text-center">
                  <button id="button-submit" type="submit" class="btn btn-primary" aria-label="Show an example snack-bar">Submit</button>
              </p>
              <p>Languages:</p>
              <p>- Spanish (Native)</p>
              <p>- English (Professional)</p>
              <p>- French (Basics)</p>
            </div>
          </form> 
          <!--
          <a class="resume" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/my-portfolio-9a99c.appspot.com/o/CESAR%20COLINA.pdf?alt=media&token=ca3b1832-44da-4580-ba8a-dfbdf47f7178">
            <button type="button" class="btn btn-primary">Cesar's Resume</button>
          </a>
          -->
    </div>
  </div>
    </div>
  </div>
<footer>
  <div class="container">
    <div class="row text-center social">
      <div class="col">
        <a href="https://www.linkedin.com/in/cesar-colina/" target="_blank" class="wrapper-a">
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </i>
        </a>
        <a href="https://github.com/tratohecho3" target="_blank" class="wrapper-a">
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x"></i>
          </span>
        </i>
      </a>
        <a href="https://www.facebook.com/profile.php?id=100009309552005" target="_blank" class="wrapper-a">
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        </i>
      </a>
        <a href="https://twitter.com/Cesar_DCL" target="_blank" class="wrapper-a">
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </i>
      </a>
        <h4>Cesar Colina</h4>
        <h5>colinacesardaniel@gmail.com</h5>
        <img src="../../assets/CC_logo.png" width="300" height="300" alt="">
      </div>
    </div>
  </div>
</footer>

</sn-scroll-spy-section>
