<sn-scroll-spy-section id="contact" for="foo">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center main-title">Contact</h1>
      </div>
  </div>
    <div class="row row-contact">
      <div class="col">  
      <div class="jumbotron" id="jumbotron-contact">
        <h1 class="text-center main-title">Say Hello!</h1>
        <form id="form-contact">
            <div class="container">
              <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input required type="text" class="form-control" id="name" placeholder="Your name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input required type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Your best email">
                      <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Your message</label>
                        <textarea required class="form-control" id="exampleFormControlTextarea1"  placeholder="How can I help you?" rows="5"></textarea>
                      </div>
                </div>
              </div>
              <p class="text-center">
                  <button id="button-submit" type="submit" class="btn btn-primary">Submit</button>
              </p>
            </div>
          </form> 
    </div>
  </div>
    </div>
  </div>
<footer>
  <div class="container">
    <div class="row text-center social">
      <div class="col">
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </i>
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x"></i>
          </span>
        </i>
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        </i>
        <i class="fa fa-2x">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </i>
        <h4>Cesar Colina</h4>
        <img src="../../assets/CC_logo.png" width="300" height="300" alt="">
      </div>
    </div>
  </div>
</footer>

</sn-scroll-spy-section>
