<!--The content below is only a placeholder and can be replaced.-->
<div class="container">


  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo_editado.png" width="100" height="100" alt="Logo Cesar Colina" id="logo_cc">
    </a>
    <button id="hamburger-button" (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-1x">
        <span class="fa-stack fa-lg">
          <i class="fa fa-bars fa-stack-1x"></i>
        </span>
      </i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto" role="navigation" snScrollSpy id="foo">
        <li class="nav-item">
          <a class="nav-link" snScrollSpyItem for="foo" href="#services">Services <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" snScrollSpyItem for="foo" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" snScrollSpyItem for="foo" href="#timeline">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" snScrollSpyItem for="foo" href="#about">About</a>
        </li>
        <li class="nav-item last-item">
          <a class="nav-link" snScrollSpyItem for="foo" href="#contact">Contact</a>
        </li>
      </ul>
      <button id="cursos_btn" class="btn btn-outline-success" routerLink="/cursos">Academia Web</button>

    </div>
  </nav>
</div>
<header>
  <div class="jumbotron" id="startchange" *ngIf="!course">
    <h1 class="display-4 text-center text-banner" id="first-text">Curso no Encontrado</h1>
  </div>
  <div class="jumbotron text-center" id="startchange" *ngIf="course">
    <h1 class="display-4 text-center text-banner" id="first-text">Material del curso:</h1>
    <h1 class="display-4 text-center text-banner-2">{{course.title}}</h1>
    <input type="text" placeholder="Password" class="input_pass" [(ngModel)]="password">
    <button *ngIf="!code" class="btn btn-primary main-btn" (click)="verifyPassword()">Verificar Password</button>
    <a *ngIf="code" class="resume" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/my-portfolio-9a99c.appspot.com/o/CESAR%20COLINA.pdf?alt=media&token=ca3b1832-44da-4580-ba8a-dfbdf47f7178">
      <button id="btn-download" type="button" class="btn btn-primary main-btn">Descargar</button>
    </a>

  </div>
</header>
