.li-skills {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.card-subtitle {
    margin: 20px;
    font-size: 18px;
    color: #8c43ff
}

.card-title {
    font-weight: bold;
}
.card-skills {
    height: 100%;
    margin: 0;
    border-radius: 2%;
}

.row-skills {
    padding: 20px 0px;
}

.fa-edit, .fa-code, .fa-flask {
    color: #8c43ff;
}

@media (max-width: 768px) {
    .fa-stack-1x, .fa-stack-2x {
        margin-left: -20px;
    }

}
@media (max-width: 576px) {
    .fa-stack-1x, .fa-stack-2x {
        margin-left: 0;
    }

}