<sn-scroll-spy-section id="portfolio" for="foo">
  <div class="container">
    <div class="row">
      <div class="col first-row">
        <h1 class="text-center main-title">Portfolio</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item" *ngFor="let project of projects">
        <div class="card-deck"> 
          <div class="card">
            <img class="card-img-top" src="{{project.image}}" alt="{{project.title}}">
            <div class="card-body">
              <h5 class="card-title text-center">{{project.title}}</h5>
              <p class="card-text text-center">{{project.description}}</p>
              <div class="container-buttons text-center">
              <a href="{{project.view}}" target="_blank" *ngIf="project.view != 'none'">
                <i class="fa fa-1x">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-laptop fa-stack-1x"></i>
                    </span>
                </i>
              </a>
              <a *ngIf="project.view == 'none'" class="opacity"> 
                <i class="fa fa-1x">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-laptop fa-stack-1x"></i>
                    </span>
                </i>
              </a>
              <a href="{{project.code}}" target="_blank" *ngIf="project.code != 'none'">
                <i class="fa fa-1x">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x"></i>
                    </span>
                </i>
              </a>
              <a *ngIf="project.code == 'none'" class="opacity">
                <i class="fa fa-1x">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x"></i>
                    </span>
                </i>
              </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</sn-scroll-spy-section>


