<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center main-title">Porfolio</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item" *ngFor="let project of projects">
        <div class="card-deck"> 
          <div class="card">
            <img class="card-img-top" src="{{project.image}}" alt="{{project.title}}">
            <div class="card-body">
              <h5 class="card-title text-center">{{project.title}}</h5>
              <p class="card-text text-center">{{project.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>