#portfolio {
    background-color: #f8f9fa;
    height: 100%;
}

.card {
    margin-bottom: 10px;
}
@media(min-width: 576px) {
    .card:hover {
        -ms-transform: scale(1.1,1.1); /* IE 9 */
        -webkit-transform: scale(1.1,1.1); /* Safari */
        transform: scale(1.1,1.1); /* Standard syntax */
    }
}


.card-title{
    font-weight: bold;
}


.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

.fa-circle {
    color: #fed134;
}
.opacity {
    cursor: not-allowed;
    opacity: .65;
}

a {
    color: black;
}

