.last-item {
    margin-right: 400px;
}
.nav-link {
    font-size: 20px;
    margin-right: 15px;
}

.navbar-brand {
    margin-left: 25px;
}

.navbar-color {
    background-color: #212529 !important;
}

.selected {
    color: #fed134 !important;
}

.jumbotron {
    background-image: url("../assets/laptop.jpg");
    background-size: cover;
    height: 500px;
    color: white;
    border-radius: 0 !important;
}


.main-btn {
    background-color: #fed134;
    border-color: #fed134;
    padding: 15px 40px;
}

.fa-circle {
    color: #fed134;
}


#services {
    padding-bottom: 300px;
}

/* CONTACT */
#contact {
    height: 800px;
    /*
    background-image: url("../assets/mac.png");
    background-size: 150px;
    width: 80%;
    
    background-size: cover;*/
}

#title-contact {
    color: RED;
    margin-top: 50px;
    text-align: center;
}

#contact {
    background: #e9ecef;
}

#jumbotron-contact {
    height: 100%;
    
}

.form-control {
    font-size: 1.5rem;
    padding: 15px;
}

.text-muted {
    color: white !important;
}

#button-submit {
    padding: 15px 40px;
    background: #fed134;
    border-color: #fed134;
    font-size: 20px;

}


/* EDUCATION */
#education {
    background-color: #f7f7f7;
    height: 100%;
}

#jumbo-education {

}

.container-img {
    max-width: 200px;
    max-height: 200px;
}
