<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-color" ngbDropdown>
  <a class="navbar-brand selected" href="#">Cesar Colina</a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link selected" href="#">Services <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item last-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<header>
  <div class="jumbotron">
    <h1 class="display-4 text-center">Hello, world!</h1>
    <h1 class="display-4 text-center">Looking for a developer?</h1>
    <span class="d-sm-none d-xs-none d-none d-md-block">
        <p class="lead text-center">I'm Cesar Colina and I'm a software developer, I love web development and my work is determined for my passion, effort, innovation and efficiency. Always learning the new technologies and willing to solve any problem.</p>
    </span>


    <p class="lead text-center">
      <a class="btn btn-primary btn-lg main-btn" href="#" role="button">Let's Begin</a>
    </p>
  </div>
</header>
<section>
    <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-center">Services</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <h3 class="text-center">Responsive Design</h3>
          </div>
          <div class="col-sm">
            <h3 class="text-center">Web Applications</h3>
          </div>
          <div class="col-sm">
            <h3 class="text-center">Security</h3>
          </div>
        </div>
      </div>
</section>

<i class="fa fa-2x"> 
    <i class="fa fa-circle fa-5x"></i>
</i>

<i class="fa fa-1x"> 
    <i class="fa fa-laptop fa-5x"></i>
</i>

