/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

strong {
    font-weight: bold;
}

.main-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

sn-scroll-spy-section#services {
    padding: 145px 0;
}
sn-scroll-spy-section#portfolio {
    padding: 145px 0;
}
sn-scroll-spy-section#timeline {
    padding: 145px 0;
}
sn-scroll-spy-section#about {
    padding: 145px 0;
}
sn-scroll-spy-section#contact {
    padding: 145px 0;
    padding-bottom: 0;
}


/*NAVBAR */
#hamburger-button {
    outline: none;
}
.fa-bars {
    color: white;
}

@media (max-width: 991.98px) { 
    .navbar-toggler:not(:disabled):not(.disabled) {
        margin-right: 20px;
    }
    
    .navbar-dark[_ngcontent-c0] {
        background: black !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        margin-left: 10px;
    }
    
    
    .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
        margin-left: 15px;
    }
 }

