/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.main-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

sn-scroll-spy-section#services {
    padding: 145px 0;
}
sn-scroll-spy-section#portfolio {
    padding: 145px 0;
}
sn-scroll-spy-section#timeline {
    padding: 145px 0;
}
sn-scroll-spy-section#about {
    padding: 145px 0;
}
